<div>
  <dt><%= Alipay::App.human_attribute_name(:name) %></dt>
  <dd><%= @app.name %></dd>
</div>
<div>
  <dt><%= Alipay::App.human_attribute_name(:appid) %></dt>
  <dd><%= @app.appid %></dd>
</div>
<div>
  <dt><%= Alipay::App.human_attribute_name(:private_rsa) %></dt>
  <dd><%= @app.private_rsa.to_s.truncate(20) %></dd>
</div>
